<?xml version="1.0" encoding="utf-8" ?>
<configuration>
    <startup> 
        <supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.7.2" />
    </startup>
<appSettings>
  <add key ="x" value ="10"/>
  <add key ="y" value ="10"/>
  <add key ="outputFolder" value ="10"/>
  <add key ="overlap" value ="10"/>
  <add key ="signerText" value ="eadasdjasjdiasjdaisjd"/>
  <add key ="signerVisible" value ="10"/>
  <add key ="textSignerVisible" value ="10"/>
  <add key ="numberPage" value ="10"/>
  <add key ="firstPage" value ="10"/>
  <add key ="lastPage" value ="10"/>
  <add key ="img" value ="10"/>
  <add key ="sizeImg" value ="10"/>
  <add key ="fontSize" value ="10"/>
  <add key ="folders" value ="10"/>
</appSettings>
</configuration>
