<?xml version="1.0" encoding="utf-8"?>
<configuration>
  <configSections>
    <sectionGroup name="userSettings" type="System.Configuration.UserSettingsGroup, System, Version=4.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089">
      <section name="PDFSigner.Properties.Settings" type="System.Configuration.ClientSettingsSection, System, Version=4.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" allowExeDefinition="MachineToLocalUser" requirePermission="false" />
    </sectionGroup>
    <!-- For more information on Entity Framework configuration, visit http://go.microsoft.com/fwlink/?LinkID=237468 -->
    <section name="entityFramework" type="System.Data.Entity.Internal.ConfigFile.EntityFrameworkSection, EntityFramework, Version=6.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" requirePermission="false" />
  </configSections>
  <startup>
    <supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.7.2" />
  </startup>
  <userSettings>
    <PDFSigner.Properties.Settings>
      <setting name="x" serializeAs="String">
        <value>1</value>
      </setting>
      <setting name="y" serializeAs="String">
        <value>1</value>
      </setting>
      <setting name="outputFolder" serializeAs="String">
        <value />
      </setting>
      <setting name="overlap" serializeAs="String">
        <value>False</value>
      </setting>
      <setting name="signerText" serializeAs="String">
        <value />
      </setting>
      <setting name="signerVisible" serializeAs="String">
        <value>False</value>
      </setting>
      <setting name="textSignerVisible" serializeAs="String">
        <value>False</value>
      </setting>
      <setting name="numberPage" serializeAs="String">
        <value>0</value>
      </setting>
      <setting name="firstPage" serializeAs="String">
        <value>False</value>
      </setting>
      <setting name="lastPage" serializeAs="String">
        <value>False</value>
      </setting>
      <setting name="img" serializeAs="String">
        <value />
      </setting>
      <setting name="sizeImg" serializeAs="String">
        <value>1</value>
      </setting>
      <setting name="fontSize" serializeAs="String">
        <value>1</value>
      </setting>
      <setting name="folders" serializeAs="String">
        <value />
      </setting>
    </PDFSigner.Properties.Settings>
  </userSettings>
  <entityFramework>
    <providers>
      <provider invariantName="System.Data.SqlClient" type="System.Data.Entity.SqlServer.SqlProviderServices, EntityFramework.SqlServer" />
      <provider invariantName="System.Data.SQLite.EF6" type="System.Data.SQLite.EF6.SQLiteProviderServices, System.Data.SQLite.EF6" />
    </providers>
  </entityFramework>
  <system.data>
    <DbProviderFactories>
      <remove invariant="System.Data.SQLite.EF6" />
      <add name="SQLite Data Provider (Entity Framework 6)" invariant="System.Data.SQLite.EF6" description=".NET Framework Data Provider for SQLite (Entity Framework 6)" type="System.Data.SQLite.EF6.SQLiteProviderFactory, System.Data.SQLite.EF6" />
    <remove invariant="System.Data.SQLite" /><add name="SQLite Data Provider" invariant="System.Data.SQLite" description=".NET Framework Data Provider for SQLite" type="System.Data.SQLite.SQLiteFactory, System.Data.SQLite" /></DbProviderFactories>
  </system.data>
</configuration>